@page "/"

<PageTitle>Welcome to Our Library</PageTitle>
<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3 text-center">
            <h2 class="mt-5">So Many Books, So Little Time</h2>
            <p class="lead">Discover a world of knowledge and imagination.</p>
        </div>
    </div>
</div>
