<h3>Task</h3>
<div class="row">
    <div>

    </div>

</div>
@code {
    private Data.Model.UserModel[]? users;
    protected override void OnInitialized()
    {
        var userList = User.GetUserList();
        users = userList.ToArray();
    }
}
